<div class="container">

  <div class="row margbottom20">

    <div class="col-sm-6 col-md-6">
      <h3><%= @resource %> no <%= @resource_id %></h3>
    </div>
    <div class="col-sm-3 col-md-3 pull-right">

      <div class="box_content">

        <div>
          <a role="button" id="toggler_relations" href="#" data-toggle="collapse" class="btn btn-primary pull-right" data-target="#relations_list">
            Relations
          </a>
        </div>

        <div id="relations_list" class="collapse">
          <% @relations.each do |relation| %>
              <ul class="nav nav-list">

                <%= link_to relation, "#", :class => 'event_open_relation', :id => "#{relation}_relation_link",
                            :data => {:parent => @parent_div,
                                      :resource => @resource.downcase,
                                      :id => @resource_id,
                                      :relation => relation} %>


              </ul>
          <% end %>
        </div>

      </div>

    </div>

  </div>

  <div class="timeline">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ol class="list-unstyled">

          <% @history.each_with_index do |event, idx| %>

              <li>
                <div class="icon <%= event.event == 'create' ? 'green-background' : 'orange-background' %>">
                  <i class="icon-info-sign"></i>
                </div>
                <div class="title">
                  <%= t(event.event) %>
                  <small class="text-muted"><%= event.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d %H:%M:%S") %>
                    <%= unless event.whodunnit.blank?
                          ", par : #{event.whodunnit}".html_safe
                        end %>
                  </small>
                </div>
                <div class="content">
                  <% if event and event.respond_to?(:changeset) and event.event != 'create' %>

                      <% event.changeset.each do |attribute| %>
                          <% unless attribute[0] == 'updated_at' %>
                              <%= "#{attribute[0]} : de <b>#{attribute[1][0].nil? ? 'aucune valeur' : attribute[1][0]}</b> à <b>#{attribute[1][1].nil? ? 'aucune valeur' : attribute[1][1]}</b> ".html_safe %>
                              <br/>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
              </li>
          <% end %>

        </ol>
      </div>
    </div>
  </div>

</div>
