
<%= javascript_include_tag "historiqueux/history" %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Évènement</th>
    <th>Type d'élément</th>
    <th>Fait par</th>
    <th>Date</th>
  </tr>
  </thead>

  <% @history.each_with_index do |event, idx| %>
      <tr id="row<%= idx + 1 %>"
          data-event-id="<%= event.id %>"
          data-parent-div="<%= @parent_div %>"
          data-resource="<%= @resource.downcase %>"
          data-resource-id="<%= @resource_id %>" >
        <td>
          <%= event.event %>
        </td>
        <td>
          <%= event.item_type %>
        </td>
        <td>
          <%= event.whodunnit %>
        </td>
        <td>
          <%= event.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
