<div class="container">

  <h2>Liste des <%= @relation_resource %> liés au <%= @resource %> no <%= @resource_id %></h2>
  <br/>
  <% @relation_resource_list.each_with_index do |relation_resource, idx| %>

      <div class="row">
        <div class="col-md-2">
          <h3><%= @relation_resource %> no <%= relation_resource.id %></h3>
        </div>
        <div class="col-md-2">

            <div>
              <a role="button" id="toggler_relations<%= idx %>" href="#" data-toggle="collapse" class="btn btn-primary btn-xs" data-target="#relations_list<%= idx %>">
                Relations
              </a>
            </div>

            <% if @relations %>
                <div id="relations_list<%= idx %>" class="collapse">
                  <% @relations.each do |relation| %>
                      <ul class="nav nav-list">

                        <%= link_to relation, "#", :id => "#{relation}_open_relation#{idx}", :class => 'event_open_relation',
                                    :data => {:parent => @parent_div,
                                              :resource => @relation_resource,
                                              :id => relation_resource.id,
                                              :relation => relation} %>


                      </ul>
                  <% end %>
                </div>
            <% end %>
          </div>


      </div>

      <% if @history_relations %>

          <div class="box_content">

            <table class="table table-hover">
              <thead>
              <tr>
                <th>Évènement</th>
                <th>Type d'élément</th>
                <th>Fait par</th>
                <th>Date</th>
              </tr>
              </thead>

              <% @history_relations[relation_resource.id].each_with_index do |event, idx| %>


                  <tr class="event_open_details"
                      id="row<%= idx + 1 %>"
                      data-event-id="<%= event.id %>"
                      data-parent-div="<%= @parent_div %>"
                      data-resource="<%= @relation_resource.downcase %>"
                      data-resource-id="<%= relation_resource.id %>">

                    <td>
                      <%= event.event %>
                    </td>
                    <td>
                      <%= event.item_type %>
                    </td>
                    <td>
                      <%= event.whodunnit %>
                    </td>
                    <td>
                      <%= event.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d %H:%M:%S") %>
                    </td>
                  </tr>
              <% end %>
            </table>

          </div>

      <% else %>
          ENTITÉ NON VERSIONNÉE
      <% end %>

      <br/>

  <% end %>

  <div class="form-actions form-actions-padding-sm">
    <div class="row">
      <div class="col-md-10 col-md-offset-5">

        <%= link_to "Retour", "#", :id => "event_back", :class => 'btn btn-primary',
                    :data => {:parent => @parent_div,
                              :resource => @resource.downcase,
                              :id => @resource_id} %>

      </div>
    </div>
  </div>

</div>